/* Noto Sans */
@font-face {
  font-family: "Noto Sans";
  font-weight: 100;
  src: url("../fonts/Noto_Sans/NotoSans-Thin.ttf");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 300;
  src: url("../fonts/Noto_Sans/NotoSans-Light.ttf");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 500;
  src: url("../fonts/Noto_Sans/NotoSans-Medium.ttf");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf");
}

/* Noto Sans KR*/
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 100;
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-Thin.otf");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-Light.otf");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-Medium.otf");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-Bold.otf");
}

/* S-Core Dream */
@font-face {
  font-family: "S-Core Dream";
  font-weight: 100;
  src: url("../fonts/S-Core_Dream_OTF/SCDream1.otf");
}
@font-face {
  font-family: "S-Core Dream";
  font-weight: 300;
  src: url("../fonts/S-Core_Dream_OTF/SCDream3.otf");
}
@font-face {
  font-family: "S-Core Dream";
  font-weight: 400;
  src: url("../fonts/S-Core_Dream_OTF/SCDream4.otf");
}
@font-face {
  font-family: "S-Core Dream";
  font-weight: 500;
  src: url("../fonts/S-Core_Dream_OTF/SCDream5.otf");
}
@font-face {
  font-family: "S-Core Dream";
  font-weight: 700;
  src: url("../fonts/S-Core_Dream_OTF/SCDream7.otf");
}
